/* General */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #242424;
    /* background-image: linear-gradient(#93291E, #ED213A); */
    /* background-image: linear-gradient(#cb2d3e, #ef473a); */
    /* background-image: linear-gradient(#D31027, #EA384D); */
}

/* Navbar */
nav {
    /* background-color: #f72819; */
    background-color: black;
    height: 65px;
}

/* Grid */
table {
    border-collapse: unset;
}

.grid-row {
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
}

.grid-card {
    background-color: #ededed;
    color: black;
    align-items: center;
    text-align: center;
    /* border-style: solid;
    border-color: #970c1c; */
    border-radius: 8px;
    width: 150px;
    max-width: 150px;
    height: 95px;
}

.grid-card-text {
    margin-left: 5%;
    margin-right: 5%;
}

/* Grid List */
.grid-list-item {
    position: relative;
    min-height: 100px;
    background-color: #ededed;
    border-radius: 8px 8px 8px 8px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.grid-list-item-create {
    opacity: 0.25;
}

.grid-list-item-create:hover {
    opacity: 1.0;
}

.grid-list-item-background {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #a6a6a6;
    padding: 10px 10px 10px 10px;
}

.grid-list-item-title {
    position: absolute;
    margin-left: 3%;
}

.grid-list-item-created-on {
    position: absolute;
    font-size: 0.75rem;
    bottom: 3px;
    right: 10px;
    margin-bottom: 0px;
}

/* test */
.test-border {
    /* border: 1px solid red; */
}

@media only screen and (max-width: 768px) {
    .grid-card
    {
        font-size: 0.75em;
    }
  }